* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
}
.chat-left-side {
  width: 20%;
  border-right: solid 1px #f1f1f1;
  overflow-x: auto;
}

.chat-right-side {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .chat-left-side {
    width: 40%;
  }
  .chat-right-side {
    width: 60%;
    flex-direction: column-reverse;
  }
  .chat-room {
    width: 100%;
  }
  .user-info {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .user-info__avatar {
    width: 24px;
    padding: 0;
    margin: 0;
  }
  .user-info__name {
    padding: 0 12px;
  }
  .user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}